<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.multipart.multipartdatasource.mapper.UserMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="com.multipart.multipartdatasource.model.User">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        user_name,
        email
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="user.id">
        INSERT INTO user (
            id,
            user_name,
            email
        ) VALUES (
            #{user.id,jdbcType=BIGINT},
            #{user.userName,jdbcType=VARCHAR},
            #{user.email,jdbcType=VARCHAR}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="user.id">
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user.id!=null"> id,</if>
            <if test="user.userName!=null"> user_name,</if>
            <if test="user.email!=null"> email,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user.id!=null">#{user.id,jdbcType=BIGINT},
            </if>
            <if test="user.userName!=null">#{user.userName,jdbcType=VARCHAR},
            </if>
            <if test="user.email!=null">#{user.email,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO user (
            id,
            user_name,
            email
        )VALUES
        <foreach collection="users" item="user" index="index" separator=",">
            (
            #{user.id,jdbcType=BIGINT},
            #{user.userName,jdbcType=VARCHAR},
            #{user.email,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="updateByPrimaryKeySelective">
        UPDATE user
        <set>
            <if test="user.userName != null"> user_name= #{user.userName,jdbcType=VARCHAR},</if>
            <if test="user.email != null"> email= #{user.email,jdbcType=VARCHAR}</if>
        </set>
        WHERE id = #{user.id,jdbcType=BIGINT}
    </update>
    
    <select id="selectAll" resultType="com.multipart.multipartdatasource.model.User">
        SELECT * FROM `user`
    </select>

    <select id="getUserById" parameterType="long" resultType="com.multipart.multipartdatasource.model.User">
        SELECT * FROM USER WHERE id = #{id}
    </select>
</mapper>

